<h1><%= link_to 'TODO', root_path %></h1>

<div id="task">
  <%= render 'search' %>

  <hr>

  <%= turbo_frame_tag 'tasks-list', data: { turbo_action: :advance }  do %>
    <div id="tasks">
      <% @tasks.each do |task| %>
        <%= render 'form', task: task %>
      <% end %>
    </div>

    <%= paginate @tasks %>
  <% end %>

  <hr>

  <div id="new-task">
    <%= render 'form', task: Task.new %>
  </div>
</div>
