<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>
<% if alert %>
  <p style="color: red"><%= alert %></p>
<% end %>

<h1>Tasks</h1>

<div id="tasks">
  <%= turbo_frame_tag 'tasks-list' do %>
    <% @tasks.each do |task| %>
      <%= render "form", task: task %>
    <% end %>

    <%= paginate @tasks %>
  <% end %>

  <hr>

  <%= render "form", task: Task.new %>
</div>
