<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>
<% if alert %>
  <p style="color: red"><%= alert %></p>
<% end %>

<h1>Tasks</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render "form", task: task %>
  <% end %>

  <%= paginate @tasks %>

  <hr>

  <%= render "form", task: Task.new %>
</div>
