<h1><%= link_to 'TODO', root_path %></h1>

<div id="task">
  <div id="tasks-search">
    <%= render 'search' %>
  </div>

  <hr>

  <div id="tasks">
    <%= turbo_frame_tag 'tasks-list' do %>
      <%= turbo_frame_tag "tasks-page-#{@tasks.current_page}" do %>
        <% @tasks.each do |task| %>
          <%= render 'form', task: task %>
        <% end %>

        <%= turbo_frame_tag "tasks-page-#{@tasks.next_page}", loading: :lazy, src: path_to_next_page(@tasks) %>
      <% end %>
    <% end %>
  </div>

  <hr>

  <div id="new-task">
    <%= render 'form', task: Task.new %>
  </div>
</div>
